
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
    --product-card-color: whiteSmoke;
    --black-color: black;
    --grey-accent: grey;
    --hsl-light-black: hsl(0deg 0% 13%);
    --white-shade: #ffff;
    --quantity-color: #dee0ee;

}
body {
    font-family: var(--main-font);
  
}
.page-grids {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background-color: rgb(231, 231, 231);
}
.product-cart-outer {
    height: 530px;
}
.cart-div {
    width: 60%;
    height: 100%;
    background-color: var(--product-card-color);
    margin-right: 6px;
}
.cart-heading, .price-heading {
    color: var(--black-color);
    padding: 15px;
    font-weight: bolder;
    font-size:1rem;
    font-family: var(--main-font);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: none;
}
.price-heading {
    color: var(--grey-accent);
}
.priceDetails-div{
    width: 25%;
    height: 310px;
    background-color: var(--product-card-color);
    margin-left: 6px;
    font-size: 0.8rem;
}
.product-cart-1-outer {
    background-color: var(--product-card-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    height: 200px;
}
.product-img-outer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product-img {
    display: flex;
    flex-direction: row;
    height: 150px;
    padding:0 3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
}

.img {
    width: 70px;
    height: auto;
}
.product-name {
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: 500;
    padding-left: 2rem;
}
.Product-seller {
    display: block;
    font-family: var(--main-font);
    padding-left: 2rem;
    color: var(--grey-accent);
}
.fAssured-true {
    width: 60px;
}
.Product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
}
.final-price {
    display: inline-block;
    font-size: 1rem;
    color: var(--hsl-light-black);
    font-weight: 600;
    margin-right: 8px;
    font-family: var(--main-font);
}
.original-price {
    display: inline-block;
    font-family: var(--main-font);
    text-decoration: line-through;
    color: var(--grey-accent);
    font-size: 0.8rem;
    margin-top: 18px;
    margin-right: 8px;
}
.discount-percentage, .product-offer {
    display: inline-block;
    color: hsl(123deg 43% 39%);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 18px;
    margin-right: 6px;
}
._3GN0Y0 {
    margin-top: 18px;
}

.product-cart1-delivery-details {
    padding-left: 5rem;
}

.product-delivery-date {
    font-size: 0.8rem;
    color: var(--hsl-light-black);
    line-height: 1.4;
    font-family: var(--main-font);
}
.strike-fee {
    text-decoration: line-through;
}
.product-replacement {
    font-size: 0.75rem;
    color: var(--hsl-light-black);
    line-height: 1.4;
    font-family: var(--main-font);
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #quantity__minus,
  #quantity__plus {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
    background: linear-gradient(hsl(0deg 0% 100%),hsl(0deg 0% 98%));
    border:1px solid hsl(0deg 0% 76%);
    text-decoration: none;
    text-align: center;
    line-height: 23px;
  }
  #quantity__minus:hover,
  #quantity__plus:hover {
    background: #9a9a9c;
    color: var(--white-shade)f;
    border-radius: 100%;
  } 
  #quantity__minus {
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  #quantity__plus {
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  #quantity__input {
    width: 35px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-weight: 550;
    text-align: center;
    border-top: 2px solid var(--quantity-color);
    border-bottom: 2px solid var(--quantity-color);
    border-left: 1px solid var(--quantity-color);
    border-right: 2px solid var(--quantity-color);
    background: var(--white-shade);
    color: #8184a1;
  }
  .minus, .plus {
      font-size: 1.5rem;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  } 
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: var(--white-shade);
  }
  .cart-action {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  .action-btn {
      display: flex;
      flex-direction: row;;
      font-size: 1rem;
      color: var(--hsl-light-black);
      font-weight: 550;
  }
  .save-later, .remove-btn {
     padding:0 18px;
     color: var(--hsl-light-black);
     cursor: pointer;
     background-color: transparent;
     border: none;
     font-weight: 550;
     font-family: var(--main-font);
  }
  .save-later:hover, .remove-btn:hover {
      color: blue;
  }

  .price, .discount,.total-amount, .offer-onAmount, .delivery-charges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    font-size: 1rem;
    color: var(--hsl-light-black);
    font-family: var(--main-font);
    font-weight: 550;
  }
  .discount-offered, .free, .offer-onAmount {
      color: hsl(123deg 43% 39%);
  }
  .total-amount {
    font-weight: 800;
}
hr {
    border: none;
    height: 0.2px;
    color: var(--hsl-light-black); 
    background: lightgray;
}
.place-order {
    display: block;
    height: 80px;
    background: var(--white-shade);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.product-delivery-date-mobile {
    display: none;
}
.order-btn {
    float: right;
    font-size: 1rem;
    padding: 1rem;
    width: 30%;
    border: none;
    background-color: hsl(20deg 97% 55%);
    color: var(--white-shade);;
    font-family: var(--main-font);
    font-weight: 550;
    position: relative;
    right: 15px;
    top: 15px;
    border-radius: 5px;
}
@media screen and (max-width:600px) {
    .page-grids {
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    }
    .cart-div{
        width: 100%;
        /* height: 63%; */
    }
    .priceDetails-div {
        width: 100%;
        margin-left:0px;
        margin-top: 10px;
    }
    .place-order{
    

    }
    .final-price {
        font-size: 0.9rem;
        margin-top: 17px;
    }
    ._3GN0Y0 {
        display: none;
    }
    .product-cart1-delivery-details {
        display: none;
    }
    .product-delivery-date-mobile {
        display: block;
        padding-left: 2rem;
        font-size: 0.8rem;
        font-family: var(--main-font);
        margin: 0;
  
    }
}
